
<section class="header1" id="header01-0">
    
    
    <h1 class="text-center text-light mb-3 display-4">
        RAC's Technologies
    </h1>
     
               
          
 
</section>

<section class="center-section">

    <h1 class="text-center display-2">
        Our Services
    </h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 custom-bg-1">
                <h1 class="text-justify display-4 c-name">
                    Enterprise<br> Resource<br> Planning <br>
                    
                    </h1>
                
            </div>
            <div class="col-sm-8 custom-bg-2 py-auto">
                
                <p class="text-center text-light text-justify my-5">
                    Rac’s ERP System is the best system to manage your production, accounts, financial task, inventory and Customer relationship. We are introducing you the best software for your business needs.
                </p>
                <div class="text-center">
                    <button class="btn btn-light">Book A Demo</button>
                </div>
            </div>
            <div class="col-sm-8 custom-bg-3 py-auto">
               
                <p class="text-center text-light text-justify my-5">
                    Rac’s Point of Sales system is the best point of sale due to its hierarchy of branch system and point based POS in action.
                </p>
                <div class="text-center">
                    <button class="btn btn-light">Book A Demo</button>
                </div>
            </div>
            <div class="col-sm-4 custom-bg-4">
                <h1 class="text-justify text-end display-4 c-name">
                    Point<br> Of <br>Sales</h1>
                
            </div>
        </div>
    </div>
</section>