
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="../assets/images/Racs_Logo.png" alt="" style="height: 28px">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ml-3">
          <li><a   (click)="home()"  class="nav-link px-2 text-secondary" style="cursor: pointer;">Home</a></li>
          <li><a   (click)="about()"  class="nav-link px-2 text-white" style="cursor: pointer;">About</a></li>
          <li><a   (click)="products()"  class="nav-link px-2 text-white" style="cursor: pointer;">Products</a></li>
          <li><a   (click)="services()"  class="nav-link px-2 text-white" style="cursor: pointer;">Services</a></li>
        </ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form> -->

        <div class="text-end">
         <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Contact Us</button>
        </div>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>

  <section class="footer" once="footers" id="footer01-a">
    <div class="flex-row">
      <div class="text-sect" style="width: 20%;">
        <p class="mbr-text">
          RACS Technologies is a leading-edge company dedicated to delivering innovative solutions across various domains.</p>
      </div>
      <div class="menu-sect">
        <ul class="list mbr-fonts-style">
  
          <li class="item-wrap"><a (click)="home()" style="text-decoration: none; color:white; cursor: pointer;">Home</a></li>
          <li class="item-wrap"><a (click)="about()" style="text-decoration: none; color:white; cursor: pointer;">About</a></li>
          <li class="item-wrap"><a (click)="services()" style="text-decoration: none; color:white; cursor: pointer;">Services</a></li>
          <li class="item-wrap"><a (click)="products()" style="text-decoration: none; color:white; cursor: pointer;">Products</a></li>
      </ul>
      </div>
    </div>
    

      <div class="row">
        <div class="col-12">
          <p class="mbr-text mb-3 mbr-fonts-style copyright text-center">
            © Copyright 2025 racs-technologies</p>
        </div>
      </div>
</section>





<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Us</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>