.header1{
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 8rem;
    background-color: #ffcc00;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-section{
    width: 100%;
     padding: 4.5rem 10px;
    // background: #ccc;
}

.c-name{
    color: #082c4e;
    font-weight: 500;
  
}

.custom-bg-1{
    background: #ffcc00;
    padding: 4.5rem 30px;
}
.custom-bg-4{
    background: #22a5e5;
    padding: 4.5rem 30px;
}
.custom-bg-3{
    background: #fe6571;
    padding: 4.5rem 30px;
}
.custom-bg-2{
    background: #082c4e;
    padding: 4.5rem 30px;
}